@media screen and (max-width:480px){
    .info-section {
        flex-direction: column;
    }
    img{
        width: 100% !important;
        height: auto;
    }
    .restaurant-info {
        flex-direction: column;
    }
    .restaurant-info *{
        font-size: 4vw !important;
    }
    td{
        word-break:break-all;
    }
}